<%= form_with model: [@appointment, @profile], class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <div class='form-header-text'>
        顧客プロフィール登録情報
    </div>
  </div>
  <div class="registration-error">
  <%= render 'shared/error_messages', model: f.object %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">氏名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :customer_name, class:"input-default", placeholder:"例) 山田太郎" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">所属</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :customer_occupation, class:"input-default", placeholder:"例）浅草通信株式会社" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">役職</label>
    </div>
    <%= f.text_field :position, class:"input-default", placeholder:"例）財務経理課長" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">備考</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :note, class:"input-default-area" %>
    </div>
  </div>
  <div class='register-btn'>
    <%= f.submit "登録", class:"register-red-btn" %>
  </div>
</div>
<% end %>