<table>
  <tr>
    <th>タイトル</th>
    <th>取引先名</th>
    <th>取引状況</th>
    <th>作成者</th>
    <th>詳細</th>
  </tr>
  <tr>
    <td><%= appointment.title %></td>
    <td><%= appointment.company %></td>
    <td><%= appointment.relation.name %></td>
    <td><%= appointment.user.name %></td>
    <td><%= link_to "詳細表示", appointment_path(appointment) %></td>
  </tr>
</table>