<!DOCTYPE html>
<html>
  <head>
    <title>ApoInfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="nav">
        <div class="nav-left">
          <%= link_to "ApoInfo", root_path %>
        </div>
        <% unless user_signed_in? %>
          <div class="nav-right">
            <%= link_to "新規登録", new_user_registration_path, class: :right_button %>
            <%= link_to "ログイン", new_user_session_path, class: :right_button %>
          </div>
        <% else %>
          <div class="nav-right">
            <%= link_to "アポイント登録", new_appointment_path, class: :right_button %>
            <%= link_to "チャットルーム", chats_path, class: :right_button %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :right_button %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright ©️ ApoInfo All rights reserved.</p>
    </footer>
  </body>
</html>
